.hidden {
    display: none !important;
}

header {

    .container {
        padding: 3rem 3rem;
        display: grid;
        grid-template-columns: auto auto;

        @include lg {
            grid-template-columns: auto 1fr 1fr auto;
            align-items: center;
            column-gap: 1rem;
            padding: 2rem 2rem;
        }

        .navigation {

            @include lg {
                display: flex !important;
                gap: 1.5rem;

                #details-link {
                    display: none;
                }
            }
        }

        .btn-mobile {
            justify-self: end;
            margin-right: 1rem;
            border: none;
            background-color: transparent;

            @include lg {
                display: none !important;
            }
        }

        .btn-switch {
            @include lg {
                display: block !important;
                justify-self: end;
            }
        }

        .account-buttons {
            @include lg {
                display: flex !important;
                gap: 1rem;
            }

            .btn-gray {
            }

            .profile-thumb-a {
                width: 44px;
                height: 44px;
                overflow: hidden;
                border-radius: 999px;
                display: none;

                @include lg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .profile-thumb {
                    font-size: 24px;
                    align-items: center;
                }
            }
        }
    }
}

.mobile-toggled {
    grid-template-columns: auto auto;
    grid-template-areas:
        "menu-btn1 menu-btn" "nav nav" "acc acc" "switch-btn switch-btn";
    row-gap: 2rem;

    .navigation {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        margin-top: 3rem;
        align-items: center;
        gap: 1rem;
    }

    .btn-mobile {
        grid-area: menu-btn;
    }

    .btn-switch {
        grid-area: switch-btn;
        justify-self: center;
    }

    .account-buttons {
        grid-area: acc;

        .btn-gray {
            margin-bottom: 1rem;
        }
    }
}