@import './sections/_account-details.scss';
@import './sections/_account-notifications.scss';
@import './sections/_account-menu.scss';
@import './sections/_account-security.scss';
@import './sections/_account-saved-items.scss';
@import './sections/_header.scss';
@import './sections/_footer.scss';
@import './sections/_features.scss';
@import './sections/_showcase.scss';
@import './sections/_switch-mode.scss';
@import './sections/_manage-your-work.scss';
@import './sections/_download-our-app.scss';
@import './sections/_integration.scss';
@import './sections/_newsletter.scss';
@import './sections/_courses-grid.scss';
@import './sections/_work-for-us.scss';
@import './sections/_sign-in-form.scss';
@import './sections/_course-details.scss';
@import './sections/_contact.scss';
@import './sections/_course-author.scss';
@import './sections/_not-found.scss';
@import './sections/_admin-index.scss';
@import './sections/_admin-create-course-form.scss';