@code {

}


<section class="download-our-app">

    <div class="container">

        <div class="image">
            <img src="/images/screens.png" />
        </div>

        <div class="content">

            <h2>Download Our App<br /> for Any Devices:</h2>

            <div class="content-box">

                <div class="text">

                    <p>App Store</p>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <h4>Editor's Choice</h4>

                    <p>rating 4.7, 187K+ reviews</p>

                </div>

                <a>
                    <img src="/images/appstore.png" />
                </a>

            </div>

            <div class="content-box">

                <div class="text">

                    <p>Google Play</p>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <h4>App of the Day</h4>

                    <p>rating 4.8, 30K+ reviews</p>

                </div>

                <a>
                    <img src="/images/googleplay.png" />
                </a>

            </div>


        </div>


    </div>

</section>