
@code {

}


<section class="switch-mode">

    <h2>
        <span class="left">Switch Between</span>
        <span class="right">Light & Dark Mode</span>
    </h2>

    <img src="/images/macbook.png" />
</section>


