@using Frontend.Components.Sections
@inherits LayoutComponentBase
@layout AccountLayout

<sections class="account-details">

    <div class="container">
        <AccountMenu />
        @Body

    </div>

</sections>